<html>
    <head>
        <link href="style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {{ range . }} {{ range . }}
        <div class="wrapper">
            <div class="card">
                <table class="main-table">
                    <caption>
                        <table align="left">
                            <tr>
                                <th>date</th>
                                <td>{{ .Date }}</td>
                            </tr>
                            <tr>
                                <th>weekday</th>
                                <td>{{ .Weekday }}</td>
                            </tr>
                            <tr>
                                <th>weektype</th>
                                <td>{{ .WeekType }}</td>
                            </tr>
                            <tr>
                                <th>split</th>
                                <td>{{ .Split }}</td>
                            </tr>
                        </table>
                    </caption>
                    <tr>
                        <th>exercise</th>
                        <th>sets</th>
                        <th>reps</th>
                        <th>weight</th>
                        <th>RIR</th>
                        <th>muscle</th>
                    </tr>
                    {{ range .Supersets}} {{ range $i, $_ := . }}
                    <tr {{ if eq $i 0}} class="start-tr" {{ end }}>
                        <td>{{ .Name }}</td>
                        <td>{{ .Sets }}</td>
                        <td>{{ .Reps }}</td>
                        <td>{{ .Weight }}</td>
                        <td>{{ .Rir }}</td>
                        <td>{{ .Target }}</td>
                    </tr>
                    {{ end }} {{end}}
                </table>
            </div>
        </div>
        {{ end }} {{ end }}
    </body>
</html>
